@using OnlineShop.Common.Enum
@using OnlineShop.Common.Helper
@model OnlineShop.Common.Helper.PagedList<OnlineShop.Application.Shop.Orders.ModelDto.OrderDto>

@{
    ViewData["Title"] = "سفارشات من";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = "myorderlist";
}
<div class="profile container level">
    @await Component.InvokeAsync("ProfileSideBarComponent", new { url })

    <div class="level-items">
        <div class="result-container">
            <h3>آخرین سفارشات</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>شماره سفارش</th>
                    <th>وضعیت سفارش</th>
                    <th>قیمت تمام شده محصول</th>
                    <th>تاریخ سفارش</th>
                    <th></th>
                </tr>
                </thead>
                @{ int rownumber = 1;}
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@(rownumber++)</td>
                            <td>@item.OrderNumber</td>
                            <td>@EnumConvertor.GetDisplayName(item.OrderStatus)</td>
                            <td>@item.FinalAmount.ToString("##,###") تومان</td>
                            <td>@item.CreateDate</td>
                            <td>
                                @if (item.OrderStatus == OrderStatus.ReadyForPay)
                                {
                                    <form method="POST" action="/payment">
                                        <input type="hidden" value="@item.Id" name="orderId"/>
                                        <button type="submit" class="submit-btn">پرداخت</button>
                                    </form>
                                }
                            </td>
                            <td><a asp-action="OrderDetails" asp-route-id="@item.Id" class="default-btn">جزئیات</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

