@model OnlineShop.Application.General.BlogCategory.ModelDto.UpdateBlogCategoryViewModel

@{
    ViewData["Title"] = "ویرایش دسته بندی";
    Layout = "~/Areas/AdminPanel/Views/Shared/_DefaultLayout.cshtml";
}
<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="page-title">مدیریت دسته بندی</h3>
        <div class="d-inline-block align-items-center">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index"><i class="mdi mdi-home-outline"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page"><a asp-controller="BlogCategory" asp-action="BlogCategoryList">لیست دسته بندی</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ویرایش دسته بندی</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">

        <div class="col-12">
            <div class="box">
                <form id="editblogCategory">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h5>نام دسته بندی <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="name" id="name" value="@Model.BlogCategoryResult.Data.Name" class="form-control" required data-validation-required-message="این فیلد مورد نیاز است">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label>سردسته</label>
                                <select name="parentid" id="parentid" asp-items="@(new SelectList(Model.BlogCategoryList,"Id","Name"))" class="form-control">
                                    <option>یک سر دسته انتخاب کنید</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h5>نام پیوند </h5>
                                    <div class="controls">
                                        <input type="text" name="slug" id="slug" value="@Model.BlogCategoryResult.Data.Slug" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h5>توضیحات </h5>
                                    <div class="controls">
                                        <textarea name="description" id="description" asp-for="BlogCategoryResult.Data.Description" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h5>وضیعت دسته بندی </h5>
                                    <div class="controls">
                                        <input type="checkbox" id="checkbox_1" checked="@Model.BlogCategoryResult.Data.IsActive" name="UpdateCategoryCommand.IsActive">
                                        <label for="checkbox_1">فعال</label>
                                    </div>
                                </div>

                                <input type="hidden" name="id" id="id" value="@Model.BlogCategoryResult.Data.Id" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="box-footer text-right">
                                    <button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
                                        <i class="ti-trash"></i> لغو
                                    </button>
                                    <button type="submit" class="btn btn-rounded btn-primary btn-outline">
                                        <i class="ti-save-alt"></i> ویرایش
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section script
{
    <script src="/Admin/js/validation.js"></script>
    <script src="~/Admin/js/BlogCategory/BlogCategoryCommand.js"></script>
}

